<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../redux-mixin.html">

<link rel="import" href="../my-icons.html">
<link rel="import" href="./shared-styles.html">

<dom-module id="layout-drawer">
    <template>
        <style include="shared-styles">
             :host {
                display: block;
                z-index: 1;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            #drawer {
                z-index: 1
            }

            .font {
                font-family: 'CSChatThaiUI', 'tahoma', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            iron-selector>paper-icon-item {
                cursor: pointer;
            }
        </style>

        <app-drawer id="drawer" no-focus-trap="false">
            <br>
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <paper-icon-item name="page-view" href="/meeting" on-click="_redirect" class="font">
                    <iron-icon src="http://www.freeiconspng.com/uploads/business-meeting-icon-buy-this-icon-for--0-99-1.png" slot="item-icon"></iron-icon>
                    ระบบจัดการการประชุม
                </paper-icon-item>
                <paper-icon-item name="page-view2" href="/expenses" on-click="_redirect" class="font">
                    <iron-icon src="https://cdn3.iconfinder.com/data/icons/analytics-5/500/Analytics-46-512.png" slot="item-icon"></iron-icon>
                    ระบบจัดการค่าใช้จ่าย
                </paper-icon-item>
                <paper-icon-item name="page-view2" href="/expenses" on-click="_redirect" class="font">
                    <iron-icon src="https://cdn2.iconfinder.com/data/icons/clipboard-2/100/clipboard3-512.png" slot="item-icon"></iron-icon>
                    ลงทะเบียนเข้าการประชุม
                </paper-icon-item>
            </iron-selector>
        </app-drawer>

    </template>

    <script>
        class LayoutDrawer extends ReduxMixin(Polymer.Element) {

            static get is() { return 'layout-drawer'; }

            static get properties() {
                return {
                    page: String,
                    i18n: {
                        statePath: 'i18n'
                    }
                }
            }

            ready() {
                super.ready()
            }

            toogleMenu() {
                this.$.drawer.toggle();
            }

            _redirect(e) {
                Nylon.redirect(e.currentTarget.getAttribute('href'))
                setTimeout(() => {
                    this.$.drawer.close()
                }, 500)
            }

        }

        window.customElements.define(LayoutDrawer.is, LayoutDrawer);
    </script>
</dom-module>